:root {
  --red: #ED254E;
  --yellow: #F9DC5C;
  --tea: #C2EABD;
  --blue: #011936;
  --dark-gray: #465362;
  --light-gray: #EEEEEE;

  --dark-blue: #4080ff;
  --med-blue: #6fadff;
  --light-blue: #e1ebf7;
  --dark-orange: #fbab51;
  --light-orange: #ffc27e;
  --dark-green: #83c83f;
  --light-green: #a6e34f;
  --dark-gray: #3e4f70;
  --nav-width: 100px;
}

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes pop-up {
  0% {
    top: 100vh;
  }
  100% {
    top: 0;
  }
}